:root{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: rgb(20, 27, 45);
}

d

h1 {
    align-items: center;
    margin-top: -30px;
    font-weight: lighter;
    background-color: rgb(191, 191, 191);
}