{
  "openapi": "3.0.0",
  "info": {
    "title": "Financial Data API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://financialmodelingprep.com/api"
    }
  ],
  "paths": {
    "/v3/profile/{symbol}": {
      "get": {
        "summary": "Get company profile",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Ticker or Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "API Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ROPW99YXmJVjIG1KKbbVXPP6R2hoBhP2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {}
          }
        }
      }
    },
    "/v3/search": {
      "get": {
        "summary": "Search by ticker or name",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Ticker or Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "API Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ROPW99YXmJVjIG1KKbbVXPP6R2hoBhP2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {}
          }
        }
      }
    }
  }
}
