@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

:root {
  /* list of variables for the UI Palette, add colors in one place if possible */
  --main-bg-color: #ffff;
  --navbar-bg-color: #182b39;
  --settings-bg-color: #111e28;
  --text-color: #ffffff;
  --secondary-button-bg-color: #1a9b7b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
